# Equipamiento Urbano
## Ayuntamiento de Barcelona

In [211]:
import pandas as pd
import importlib

import sys 
sys.path.append("..\src")
#from analysis import *
import equipamiento as eq
importlib.reload(eq)

## Cultura.
### centros civicos

In [212]:
civic = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\cultura\\2021_centres_civics_entitats.csv")

In [213]:
civic = eq.civic_ (civic)

In [214]:
civic.sample()

,name,district_id,district,barri_id,barri,latitud,longitud,total_usos_entitats,metres_quadrats,division,category,sub_category
10,Centre Cívic Casa del Rellotge,3,Sants-Montjuïc,13,la Marina de Port,41.357544,2.14139,32,880,equipamiento,centro_civic,centro_civico

In [215]:
civic.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\centre_civic.csv", index=False)

### restaurants

In [216]:
rest = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\cultura\\restaurants.csv")

In [217]:
rest = eq.clean_cult_ocio (rest)

In [218]:
rest["sub_category"] = "restaurants"

In [219]:
rest.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
513,Restaurant Can Vallés,9,la Nova Esquerra de l'Eixample,2,Eixample,Restaurants,41.382041,2.151211,C Aragó 95,cultura/ocio,restaurants

In [220]:
rest.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\restaurants.csv", index=False)

### Museum libraries.

In [221]:
mus = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\cultura\museum_libraries.csv")

In [222]:
mus = eq.clean_equipamientos (mus) ### cultura y ocio

In [223]:
mus = eq.clean_ids (mus)

In [224]:
mus["sub_category"] = "museos"

In [225]:
mus.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
236,Biblioteca i Arxiu,5,el Fort Pienc,2,Eixample,Biblioteques,41.392969,2.178581,Pg Sant Joan 26,equipamiento,museos

In [226]:
mus.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\museums_libraries.csv", index=False)

### music and drinks.

In [227]:
drinks = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\cultura\music_drinks.csv")

In [228]:
drinks = eq.clean_equipamientos (drinks) #### cultura y ocio

In [229]:
drinks["sub_category"] = "drinks"

In [230]:
drinks.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
119,Sala Soda Acústic,31,la Vila de Gràcia,6,Gràcia,Bars i pubs musicals,41.403109,2.157014,C Guilleries 6,equipamiento,drinks

In [231]:
drinks.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\music_drinks.csv", index=False)

### cines

In [232]:
cine = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\cultura\cinema.csv")

In [233]:
cine = eq.clean_equipamientos (cine) ### cultura y ocio

In [234]:
cine["sub_category"] = "cines"

In [235]:
cine.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
46,Sala Petita,5,el Fort Pienc,2,Eixample,Teatres,41.399718,2.186105,Pl Arts 1,equipamiento,cines

In [236]:
cine.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\cinemas.csv", index=False)

## educacion.
### escuelas

In [237]:
schools = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\equipamiento\education.csv")

In [238]:
schools = eq.clean_equipamientos (schools) ##### equipamiento

In [239]:
schools = eq.clean_ids (schools)

In [240]:
schools["sub_category"] = "schools"

In [241]:
schools.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
1859,Escola Bressol Municipal L'Estació,72,Sant Martí de Provençals,10,Sant Martí,Escoles Bressol municipals,41.416505,2.194244,C Fluvià 253,equipamiento,schools

In [242]:
schools.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\\schools.csv", index=False)

### hospitals

In [243]:
hospitals = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\equipamiento\hospitals.csv")

In [244]:
hospitals = eq.clean_equipamientos (hospitals) ### equipamiento

In [245]:
hospitals["sub_category"] = "hospitals"

In [246]:
hospitals.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
34,Hospital Quirónsalud Barcelona,28,Vallcarca i els Penitents,6,Gràcia,Hospitals i clíniques,41.415706,2.137892,Plaça d'Alfonso Comín 7,equipamiento,hospitals

In [247]:
hospitals.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\\hospitals.csv", index=False)

## SPORT
### excersice

In [248]:
exc = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\sports\excersice.csv")

In [249]:
exc = eq.clean_excersice (exc)

In [250]:
exc["sub_category"] = "ejercicio"

In [251]:
exc.sample()

,name,barri_id,barri,district_id,district,category,latitud,longitud,address,division,sub_category
32,Espai Gimnàstic per a Gent Gran *Plaça Palestina,39,Sant Genís dels Agudells,7,Horta-Guinardó,excersice,41.424754,2.139045,C Sinaí 6,excersice,ejercicio

In [252]:
exc.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\\excersice.csv", index=False)

### pools.

In [253]:
pool = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\sports\pools.csv")

In [254]:
pool = eq.clean_pool (pool)

In [255]:
pool["sub_category"] = "pool"

In [256]:
pool.sample()

,name,barri_id,barri,district_id,district,latitud,longitud,address,category,division,sub_category
84,Piscines Cobertes,49,Canyelles,8,Nou Barris,41.443976,2.171291,C Artesania 63,piscina,excersice,pool

In [257]:
pool.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\\pools.csv", index=False)

### walk circuit

In [258]:
walk = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\sports\walk_run_circuits.csv")

In [259]:
walk = eq.clean_circuit (walk)

In [260]:
walk["sub_category"] = "walk"

In [261]:
walk.sample()

,name,barri_id,barri,district_id,district,latitud,longitud,address,category,division,sub_category
8,Circuit Esportiu Rambla Prim,73,la Verneda i la Pau,10,Sant Martí,41.425569,2.200423,Rbla Prim 256,walk_circuit,excersice,walk

In [262]:
walk.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\\walk_circuit.csv", index=False)