# Estadistic and difusion.

In [728]:
from bs4 import BeautifulSoup 
import pandas as pd
import requests
import re
import importlib

import sys 
sys.path.append("..\src")
import social as soc
importlib.reload(soc)

import plotly

## Vivienda.

#### Alquiler. Mercado contractual de alquiler en Barcelona por barrios. 2022.

Alquiler medio mensual ($/mes)

In [663]:
price_housing = 'https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Habitatge_i_mercat_immobiliari/Mercat_immobiliari/Habitatges_lloguer/a2022/tbarris1.htm'

In [664]:
df = soc.scraping_prices (price_housing)
df['barri_id'] = range(1, 1+len(df))

In [665]:
df = df[df["3er trimestre"] != "nd"]
df = df[df["1er trimestre"] != "nd"]

In [666]:
df.sample()

,district_id,barri,1er trimestre,2do trimestre,3er trimestre,barri_id
14,31,Hostafrancs,"835,7","826,2","910,5",15

In [667]:
df["1er trimestre"] = df["1er trimestre"].apply(lambda x: x.split (",")[0].replace(".","")).astype(int)
df["2do trimestre"] = df["2do trimestre"].apply(lambda x: x.split (",")[0].replace(".","")).astype(int)
df["3er trimestre"] = df["3er trimestre"].apply(lambda x: x.split (",")[0].replace(".","")).astype(int)

In [668]:
mean = df[["1er trimestre", "2do trimestre", "3er trimestre"]].mean(axis=1)
df["total"] = mean

In [669]:
df

,district_id,barri,1er trimestre,2do trimestre,3er trimestre,barri_id,total
0,1,el Raval,917,872,928,1,905.666667
1,1,el Barri Gòtic,1181,1062,1111,2,1118.000000
2,1,la Barceloneta,999,900,922,3,940.333333
3,1,"Sant Pere, Santa Caterina i la Ribera",1022,1051,1084,4,1052.333333
4,2,el Fort Pienc,957,1106,1118,5,1060.333333
...,...,...,...,...,...,...,...
68,10,Diagonal Mar i el Front Marítim del Poblenou,964,1238,1354,69,1185.333333
69,10,el Besòs i el Maresme,796,779,761,70,778.666667
70,10,Provençals del Poblenou,939,1032,1059,71,1010.000000
71,10,Sant Martí de Provençals,796,843,1158,72,932.333333
72,10,la Verneda i la Pau,733,757,775,73,755.000000

In [670]:
df.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\housing_price.csv", index=False)

## Indice socioeconomico.
#### Indice socioeconomico territorial (IST). 2015-2019

promedio del valor socioeconomico. no tiene num valor.

In [671]:
sociecon = "https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Societat_i_condicions_de_vida/Condicions_de_vida/Index_socioeconomic/f01.htm"

In [672]:
socioec = soc.scraping_sociecon (sociecon)

In [673]:
socioec["barri"] = socioec["barri"].apply(lambda x: x.replace("ñ", "o"))

In [674]:
socioec['barri_id'] = range(1, 1+len(socioec))

In [675]:
socioec

,district_id,barri,2015,2016,2017,2018,2019,barri_id
0,1,el Raval,"72,1","73,1","74,0","76,0","77,4",1
1,1,el Barri Gňtic,"96,7","96,9","95,0","90,9","83,9",2
2,1,la Barceloneta,"93,3","95,1","95,1","95,4","95,6",3
3,1,"Sant Pere, Santa Caterina i la Ribera","98,8","99,6","99,7","100,6","101,3",4
4,2,el Fort Pienc,"113,7","114,0","112,9","113,2","112,2",5
...,...,...,...,...,...,...,...,...
67,10,el Poblenou,"112,2","113,0","113,1","114,0","114,0",68
68,10,Diagonal Mar i el Front Marítim del Poblenou,"118,8","119,1","118,3","117,1","116,4",69
69,10,el Besňs i el Maresme,"78,0","78,5","78,5","77,3","75,2",70
70,10,Provençals del Poblenou,"107,5","107,6","107,7","107,9","107,6",71
71,10,Sant Martí de Provençals,"104,3","104,7","103,9","104,3","103,5",72

In [676]:
socioec.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\nivel_socioeconomi.csv", index=False)

## Seguridad.

### Denuncias policia Urbana.

#### sistema de seguridad publica.
Indicadores por distritos. 2020

#### Actuaciones de ayuda y asistencia por distritos.

In [755]:
ayuda = "https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Societat_i_condicions_de_vida/Seguretat_i_prevencio/Guardia_urbana/t37.htm"

1. posiblemente eliminar las incidencias que no tienen mucho que ver con la seguridad como las ayudas por accidentes con el clima etc. 
2. crear un total de las incidencias ya limpias por distrito
3. separar por tipo de incidencias.

In [736]:
ayuda

'https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Societat_i_condicions_de_vida/Seguretat_i_prevencio/Guardia_urbana/t37.htm'

In [756]:
ayuda = soc.pol_urbana_ayuda (ayuda)

In [739]:
ayuda.columns = ayuda.columns.apply(lambda x: x.split (".")[1])

AttributeError: 'Index' object has no attribute 'apply'

In [741]:
ayuda.sample()

,Incidencias,Barcelona,1.Ciutat Vella,2.L'Eixample,3.Sants-Monjuïc,4.Les Corts,5.Sarrià-Sant Gervasi,6.Gràcia,7.Horta-Guiardó,8.Nou Barris,9.Sant Andreu,10.Sant Martí
6,Infracciones en movimiento,15.389,2.382,3.622,1.406,512,1.181,660,996,1.189,962,1.661

In [757]:
ayuda.rename(columns={"1.Ciutat Vella":"Ciutat Vella", "2.L'Eixample":"L'Eixample",	"3.Sants-Monjuïc":"Sants-Monjuïc",	"4.Les Corts":"Les Corts",	"5.Sarrià-Sant Gervasi":"Sarrià-Sant Gervasi",	"6.Gràcia":"Gràcia",	"7.Horta-Guiardó":"Horta-Guiardó",	"8.Nou Barris":"Nou Barris",	"9.Sant Andreu":"Sant Andreu",	"10.Sant Martí":"Sant Martí"}, inplace=True)

In [760]:
ayuda["personal"] = "guardia urbana"

In [761]:
ayuda.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\stramlit\guardia.csv", index=False)

In [731]:
for i, row in ayuda.iterrows():
    if row[0] == "Fugas-productos químicos":
        ayuda.drop(i, inplace=True)
    if row[0] == "Asistencia a personas en espacios públicos":
        ayuda.drop(i, inplace=True)
    if row[0] == "Infracciones por estacionamientos":
        ayuda.drop(i, inplace=True)    
    if row[0] == "Desconocidos":
        ayuda.drop(i, inplace=True)
    if row[0] == "Desconocido":
        ayuda.drop(i, inplace=True)
    if row[0] == "Molestias por generadores":
        ayuda.drop(i, inplace=True)    
    if row[0] == "Hogueras/barbacoas":
        ayuda.drop(i, inplace=True)
    if row[0] == "Lluvia torrencial":
        ayuda.drop(i, inplace=True)
    if row[0] == "Otras actuaciones en medio ambiente":
        ayuda.drop(i, inplace=True)
    if row[0] == "Vientos fuertes": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Accidente procedente pasarela CME": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Vigilancia policial": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Otras intervenciones de Policía administrativa": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Seńales automatizadas": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Controles de tráfico": 
        ayuda.drop(i, inplace=True)    
    if row[0] == "Obras/ trabajos en espacios públicos": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Asistencia a enfermos mentales": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Asistencia en las playas": 
        ayuda.drop(i, inplace=True)    
    if row[0] == "Nieve y hielo": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Contra los derechos de los trabajadores": 
        ayuda.drop(i, inplace=True)  
    if row[0] == "Caza/pesca/flora/fauna": 
        ayuda.drop(i, inplace=True)
    if row[0] == "'Accidentes de tráfico con heridos'": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Soportes tráfico": 
        ayuda.drop(i, inplace=True)  
    if row[0] == "Incidencias con afectación de vía": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Accidentes de tráfico sin heridos": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Incidencias con peligro por el tráfico": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Restricciones temporales de tráfico": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Traslados de vehículos sin infracción": 
        ayuda.drop(i, inplace=True)
    if row[0] == "Infracciones en movimiento (vehículos)": 
        ayuda.drop(i, inplace=True)

In [732]:
df = ayuda.melt()
df = df[pd.to_numeric(df["value"], errors="coerce").notnull()]
df["x"] = df["value"].apply(lambda x: x.split (",")[0].replace("'","")).astype(float)

df["x"] = df["x"].astype(int)
ayuda = df[["variable", "x"]].groupby(by="variable").agg("sum")

In [733]:
urbana = ayuda.reset_index().rename(columns={"index":"district"})
urbana["district_id"] = urbana["variable"].apply(lambda x: x.split(".")[0])
urbana.drop(index=10, inplace=True)
urbana["district"] = urbana["variable"].apply(lambda x: x.split(".")[1])
urbana.drop(columns=["variable"], inplace=True)
urbana.rename(columns={"variable":"district", "x":"guardia_urbana"}, inplace=True)

In [734]:
urbana

   guardia_urbana district_id             district
0            8723           1         Ciutat Vella
1            8894          10           Sant Martí
2            9663           2           L'Eixample
3            7479           3        Sants-Monjuïc
4            4831           4            Les Corts
5            5413           5  Sarrià-Sant Gervasi
6            5323           6               Gràcia
7            7081           7        Horta-Guiardó
8            7434           8           Nou Barris
9            7010           9          Sant Andreu

In [719]:
urbana.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\guardia_urbana.csv", index=False)

vialidad

In [707]:
exclude_strs = ['vía', 'tráfico', 'vehículos']
pattern = '|'.join(exclude_strs)
mask = ayuda['Incidencias'].str.contains(pattern)
df = ayuda.loc[mask]

In [708]:
df = ayuda.melt()
df = df[pd.to_numeric(df["value"], errors="coerce").notnull()]
df["x"] = df["value"].apply(lambda x: x.split (",")[0].replace("'","")).astype(float)

df["x"] = df["x"].astype(int)
x = df[["variable", "x"]].groupby(by="variable").agg("sum")

In [709]:
vial = x.reset_index().rename(columns={"index":"district"})

In [710]:
vial["district_id"] = vial["variable"].apply(lambda x: x.split(".")[0])
vial.drop(index=10, inplace=True)
vial["district"] = vial["variable"].apply(lambda x: x.split(".")[1])
vial.drop(columns=["variable"], inplace=True)
vial.rename(columns={"variable":"district", "x":"inf_viales"}, inplace=True)

In [711]:
vial

   inf_viales district_id             district
0       11865           1         Ciutat Vella
1       11742          10           Sant Martí
2       12618           2           L'Eixample
3       10905           3        Sants-Monjuïc
4        7683           4            Les Corts
5        8466           5  Sarrià-Sant Gervasi
6        8341           6               Gràcia
7        9735           7        Horta-Guiardó
8        9462           8           Nou Barris
9       10009           9          Sant Andreu

In [712]:
vial.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\acc_viales.csv", index=False)

### Mossos de squadra.

Hechos conocidos por distrito.

In [762]:
mossos = "https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Societat_i_condicions_de_vida/Seguretat_i_prevencio/Mossos_esquadra/t112.htm"

In [763]:
df = soc.mossos_inc(mossos)

In [764]:
df.rename(columns={"1.Ciutat Vella":"Ciutat Vella", "2.L'Eixample":"L'Eixample",	"3.Sants-Monjuïc":"Sants-Monjuïc",	"4.Les Corts":"Les Corts",	"5.Sarrià-Sant Gervasi":"Sarrià-Sant Gervasi",	"6.Gràcia":"Gràcia",	"7.Horta-Guiardó":"Horta-Guiardó",	"8.Nou Barris":"Nou Barris",	"9.Sant Andreu":"Sant Andreu",	"10.Sant Martí":"Sant Martí"}, inplace=True)

In [765]:
df["personal"] = "mossos"

In [767]:
df.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\stramlit\mossos.csv", index=False)

In [696]:
df = df.melt()
df = df[pd.to_numeric(df["value"], errors="coerce").notnull()]
df["x"] = df["value"].apply(lambda x: x.split (",")[0].replace("'","")).astype(float)

df["x"] = df["x"].astype(float)
x = df[["variable", "x"]].groupby(by="variable").sum()

In [697]:
x = x.reset_index().rename(columns={"index":"district"})
x["district_id"] = x["variable"].apply(lambda x: x.split(".")[0])
x.drop(index=10, inplace=True)
x["district"] = x["variable"].apply(lambda x: x.split(".")[1])
x.drop(columns=["variable"], inplace=True)
x.rename(columns={"variable":"district", "x":"mossos"}, inplace=True)

In [698]:
x

     mossos district_id             district
0  4235.944           1         Ciutat Vella
1  3632.226          10           Sant Martí
2  3903.713           2           L'Eixample
3  3797.971           3        Sants-Monjuïc
4  3801.602           4            Les Corts
5  4316.616           5  Sarrià-Sant Gervasi
6  2914.602           6               Gràcia
7  4594.275           7        Horta-Guiardó
8  4724.517           8           Nou Barris
9  4208.569           9          Sant Andreu

In [699]:
x.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\mossos_asistencia_ayuda.csv", index=False)

### Poblacion.

edad por grandes grupos de edad 2021 por barrios.

In [722]:
poblacion = "https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Poblacio_i_demografia/Poblacio/Xifres_oficials_poblacio/a2021/edat/edatg05.htm"

In [723]:
df = soc.poblation(poblacion)

In [727]:
df.rename(columns={"Dto.":"district_id"}, inplace=True)

In [725]:
df.sample()

,barri_id,Barrio,TOTAL,0-14 años,15-24 años,25-64 años,65 años y más
66,10,la Vila Olímpica del Poblenou,9.240,1.221,1.197,5.300,1.522

In [726]:
df.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\social\\densidad_poblacion.csv", index=False)

In [ ]:
poblacion = "https://ajuntament.barcelona.cat/estadistica/castella/Estadistiques_per_temes/Poblacio_i_demografia/Poblacio/Xifres_oficials_poblacio/a2021/edat/edatg05.htm"