In [1]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import pymysql
from sqlalchemy import create_engine, text

### Connect to SQL

In [2]:
sqlpassword = getpass()
dbName = "Barcelona"
connectionData = f"mysql+pymysql://root:{sqlpassword}@localhost/{dbName}"

engine = alch.create_engine(connectionData)

### soroll

In [762]:
soroll = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\soroll.csv")
soroll.to_sql("soroll", if_exists="append", con=engine, index=False)

730

In [763]:
arbol = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbolado_mix_barri.csv")

In [142]:
arbol = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbolado_mix_barri.csv")
arbol['taxon_name_count'] = arbol.groupby('barri')['barri'].transform('count')
arbol = arbol[["barri", "taxon_name_count"]].groupby(by="barri").agg("sum")
arbol = arbol.reset_index().rename(columns={"index":"barri"})

In [106]:
arbol.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbolado_sum.csv", index=False)

### aire

In [ ]:
x = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\aire\\abr22.csv")
x.to_sql("abr_2022", if_exists="append", con=engine, index=False)

### social

In [84]:
vial = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\\acc_viales.csv")
vial.to_sql("accs_viales", if_exists="append", con=engine, index=False)

10

In [86]:
dns = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\densidad_poblacion.csv")
dns.to_sql("densidad_poblacion", if_exists="append", con=engine, index=False)

72

In [85]:
urbana = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\guardia_urbana.csv")
urbana.to_sql("guardia_urbana", if_exists="append", con=engine, index=False)

10

In [81]:
hous = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\housing_price.csv")
hous.to_sql("housing_price", if_exists="append", con=engine, index=False)

66

In [82]:
mossos = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\mossos_asistencia_ayuda.csv")
mossos.to_sql("mossos_asistencia_ayuda", if_exists="append", con=engine, index=False)

10

In [1058]:
# col¡mplete table no filters
moss = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\stramlit\mossos.csv")
moss.to_sql("mossos", if_exists="append", con=engine, index=False)

66

In [1059]:
moss = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\stramlit\guardia.csv")
moss.to_sql("urbana", if_exists="append", con=engine, index=False)

87

In [83]:
socio = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\\nivel_socioeconomi.csv")
socio.to_sql("nivel_socioeconomico", if_exists="append", con=engine, index=False)

72

In [ ]:
chart = pd.read_sql_query(sql=text("""
SELECT category, division, latitud, longitud, sub_category, NULL AS barri, NULL AS barri_id
	FROM BICING
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM bici_puertos
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM bus_stops
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM metro_train;
"""), con=engine.connect())

### Mobilidad.

In [3]:
bicing = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bicing.csv")
bicing.to_sql("bicing", if_exists="append", con=engine, index=False)

11022

In [4]:
bici_puertos = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bicipuertos.csv")
bici_puertos

,address,district_id,district,barri_id,barri,category,division,latitud,longitud,sub_category
0,"MARINA, C., DE LA 309",2,Eixample,6,la Sagrada Familia,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
1,"MARINA, C., DE LA 293",2,Eixample,6,la Sagrada Familia,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
2,"MARINA, C., DE LA 311",2,Eixample,6,la Sagrada Familia,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
3,"MARINA, C., DE LA 325",2,Eixample,6,la Sagrada Familia,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
4,"LLANÇA, C., DE 23",2,Eixample,9,la Nova Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
...,...,...,...,...,...,...,...,...,...,...
3605,"ENRIC GRANADOS, C., D' 95",2,Eixample,8,l'Antiga Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
3606,"PROVENÇA, C., DE 80",2,Eixample,9,la Nova Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
3607,"VILLARROEL, C., DE 136",2,Eixample,8,l'Antiga Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
3608,"MALLORCA, C., DE 41",2,Eixample,9,la Nova Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto
3609,"TARRAGONA, C., DE 74",2,Eixample,9,la Nova Esquerra de l'Eixample,puerto_bici,mobilidad,41.377359,2.147228,bici_puerto

In [4]:
bici_puertos = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bicipuertos.csv")
bici_puertos.to_sql("bici_puertos", if_exists="append", con=engine, index=False)

3610

In [5]:
bus_stops = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bus_stops.csv")
bus_stops.to_sql("bus_stops", if_exists="append", con=engine, index=False)

3224

In [6]:
metro_train = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\metro_train.csv")
metro_train.to_sql("metro_train", if_exists="append", con=engine, index=False)

488

In [74]:
mobilidad = pd.read_sql_query(sql=text("""
SELECT category, division, latitud, longitud, sub_category, NULL AS barri, NULL AS barri_id
	FROM BICING
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM bici_puertos
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM bus_stops
		UNION
SELECT category, division, latitud, longitud, sub_category, barri, barri_id
	FROM metro_train;
"""), con=engine.connect())

In [64]:
mobilidad["barri"] = mobilidad["barri"].apply(lambda x : x.strip())

In [67]:
mobilidad.drop(columns=["barri"], inplace=True)

In [69]:
x = mobilidad.merge(equipamiento_id, on="barri_id", how="left")

In [75]:
mobilidad.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mapping\mobilidad_compl.csv", index=False)

### Equipamiento.

In [11]:
civic = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\\centre_civic.csv")
civic.to_sql("civic_centre", if_exists="append", con=engine, index=False)

51

In [12]:
hos = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\\hospitals.csv")
hos.to_sql("hospitals", if_exists="append", con=engine, index=False)

142

In [13]:
school = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\\schools.csv")
school.to_sql("schools", if_exists="append", con=engine, index=False)

1972

In [51]:
equipamiento = pd.read_sql_query(sql=text("""
SELECT name, category, division, latitud, longitud, sub_category, barri_id, barri
	FROM hospitals
		UNION
SELECT name, category, division, latitud, longitud, sub_category, barri_id, barri
	FROM civic_centre
		UNION
SELECT name, category, division, latitud, longitud, sub_category, barri_id, barri
		FROM schools;
"""), con=engine.connect())

In [52]:
equipamiento["barri"] = equipamiento["barri"].apply(lambda x : x.strip())

In [54]:
equipamiento_id = equipamiento[["barri", "barri_id"]]

In [6]:
equipamiento.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mapping\equipamiento_1.csv", index=False)

### culto y ocio.

In [10]:
cine = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\cinemas.csv")
cine.to_sql("cinemas", if_exists="append", con=engine, index=False)

195

In [12]:
mus = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\museums_libraries.csv")
mus.to_sql("museums_libraries", if_exists="append", con=engine, index=False)

455

In [13]:
drinks = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\music_drinks.csv")
drinks.to_sql("music_drinks", if_exists="append", con=engine, index=False)

618

In [14]:
rest = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\restaurants.csv")
rest.to_sql("restaurants", if_exists="append", con=engine, index=False)

2557

In [18]:
oci = pd.read_sql_query(sql=text("""
SELECT name, category, division, latitud, longitud, sub_category, barri, barri_id
	FROM cinemas
		UNION
SELECT name, category, division, latitud, longitud, sub_category, barri, barri_id
	FROM museums_libraries
		UNION
SELECT name, category, division, latitud, longitud, sub_category, barri, barri_id
		FROM music_drinks
        UNION
SELECT name, category, division, latitud, longitud, sub_category, barri, barri_id
    FROM restaurants;
"""), con=engine.connect())

In [19]:
oci

,name,category,division,latitud,longitud,sub_category,barri,barri_id
0,Auditòrium,Auditoris,equipamiento,41.382838,2.176818,cines,el Barri Gòtic,2
1,Teatre,Teatres,equipamiento,41.435729,2.186494,cines,Sant Andreu,60
2,Sala de Cinema,Cinemes,equipamiento,41.376851,2.173408,cines,el Raval,1
3,Teatre,Teatres,equipamiento,41.410450,2.182461,cines,el Camp de l'Arpa del Clot,64
4,Teatre Romea,Teatres,equipamiento,41.380585,2.171083,cines,el Raval,1
...,...,...,...,...,...,...,...,...
3817,Bar Neutral,Restaurants,cultura/ocio,41.393553,2.138566,restaurants,Sant Gervasi - Galvany,26
3818,Restaurant Khalijia Shisha,Restaurants,cultura/ocio,41.390253,2.170580,restaurants,la Dreta de l'Eixample,7
3819,Hamburgueseria Rock & Boom,Restaurants,cultura/ocio,41.398400,2.159791,restaurants,la Vila de Gràcia,31
3820,Restaurant Bo de Bernat,Restaurants,cultura/ocio,41.380510,2.160515,restaurants,Sant Antoni,10
3821,Bar Restaurant Chamako,Restaurants,cultura/ocio,41.373813,2.163556,restaurants,el Poble-sec,11

In [20]:
oci.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mapping\ocio_1.csv", index=False)

### Excercise.

In [24]:
exc = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\excersice.csv")
exc.to_sql("excercise", if_exists="append", con=engine, index=False)

39

In [25]:
pool = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\pools.csv")
pool.to_sql("pools", if_exists="append", con=engine, index=False)

131

In [26]:
circuit = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\excercice\walk_circuit.csv")
circuit.to_sql("walk_circuit", if_exists="append", con=engine, index=False)

13

In [27]:
exc = pd.read_sql_query(sql=text("""
SELECT name, category, division, latitud, longitud, sub_category
	FROM excercise
		UNION
SELECT name, category, division, latitud, longitud, sub_category
	FROM pools
		UNION
SELECT name, category, division, latitud, longitud, sub_category
		FROM walk_circuit;
"""), con=engine.connect())

In [28]:
exc

,name,category,division,latitud,longitud,sub_category
0,Àrea Esportiva,excersice,excersice,41.436303,2.157824,ejercicio
1,Àrea Esportiva *Pardo - Can Ros - Concepció Ar...,excersice,excersice,41.426917,2.183275,ejercicio
2,Àrea Esportiva,excersice,excersice,41.394603,2.206754,ejercicio
3,Espai Gimnàstic per a Gent Gran *Pujalt,excersice,excersice,41.462926,2.182649,ejercicio
4,Espai Gimnàstic per a Gent Gran *Jocs Esportiu...,excersice,excersice,41.410381,2.212477,ejercicio
...,...,...,...,...,...,...
178,Circuit Esportiu Rambla Prim,walk_circuit,excersice,41.425569,2.200423,walk
179,Circuit Esportiu Diagonal - Cervantes,walk_circuit,excersice,41.392957,2.143527,walk
180,Circuit Esportiu,walk_circuit,excersice,41.378847,2.149250,walk
181,Circuit Esportiu Castell de Montjuïc *circuit 2,walk_circuit,excersice,41.364692,2.166034,walk
182,Circuit Esportiu Can Dragó,walk_circuit,excersice,41.431695,2.181443,walk

In [29]:
exc.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mapping\excercise.csv", index=False)

### Arbolado.

In [3]:
viari = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbrat_viari.csv")
viari.to_sql("arbrat_viari", if_exists="append", con=engine, index=False)

42733

In [4]:
parcs = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbrat_parcs.csv")
parcs.to_sql("arbrat_parcs", if_exists="append", con=engine, index=False)

35516

In [5]:
zona = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbrat_zona.csv")
zona.to_sql("arbrat_zona", if_exists="append", con=engine, index=False)

42733

In [6]:
arbrat = pd.read_sql_query(sql=text("""
SELECT taxon_name, category, latitud, longitud
	FROM arbrat_viari
		UNION
SELECT taxon_name, category, latitud, longitud
	FROM arbrat_parcs
		UNION
SELECT taxon_name, category, latitud, longitud
		FROM arbrat_zona;
"""), con=engine.connect())

In [7]:
arbrat

                        taxon_name      category    latitud  longitud
0               Chamaerops humilis  PALMERA ZONA  41.438986  2.165807
1                   Yucca gigantea  PALMERA ZONA  41.438498  2.165526
2                   Yucca gigantea  PALMERA ZONA  41.438452  2.165488
3               Chamaerops humilis  PALMERA ZONA  41.437955  2.165747
4                     Tipuana tipu    ARBRE ZONA  41.435473  2.167947
...                            ...           ...        ...       ...
78185            Ceratonia siliqua    ARBRE PARC  41.416140  2.171525
78186  Morus australis 'Fruitless'    ARBRE PARC  41.407496  2.211734
78187          Cercis siliquastrum    ARBRE PARC  41.386634  2.194469
78188          Cercis siliquastrum    ARBRE PARC  41.386735  2.194602
78189          Cercis siliquastrum    ARBRE PARC  41.386809  2.194705

[78190 rows x 4 columns]

In [8]:
arbrat.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mapping\\arbrat.csv", index=False)

In [14]:
arbrat = pd.read_sql_query(sql=text("""
SELECT taxon_name, category, latitud, longitud
	FROM arbrat_viari
        WHERE latitud LIKE '%.%' and longitud LIKE '%.%'
		UNION
SELECT taxon_name, category, latitud, longitud
	FROM arbrat_parcs
        WHERE latitud LIKE '%.%' and longitud LIKE '%.%'
		UNION
SELECT taxon_name, category, latitud, longitud
		FROM arbrat_zona
        WHERE latitud LIKE '%.%' and longitud LIKE '%.%';
"""), con=engine.connect())

In [15]:
arbrat

                        taxon_name      category    latitud  longitud
0               Chamaerops humilis  PALMERA ZONA  41.438986  2.165807
1                   Yucca gigantea  PALMERA ZONA  41.438498  2.165526
2                   Yucca gigantea  PALMERA ZONA  41.438452  2.165488
3               Chamaerops humilis  PALMERA ZONA  41.437955  2.165747
4                     Tipuana tipu    ARBRE ZONA  41.435473  2.167947
...                            ...           ...        ...       ...
78185            Ceratonia siliqua    ARBRE PARC  41.416140  2.171525
78186  Morus australis 'Fruitless'    ARBRE PARC  41.407496  2.211734
78187          Cercis siliquastrum    ARBRE PARC  41.386634  2.194469
78188          Cercis siliquastrum    ARBRE PARC  41.386735  2.194602
78189          Cercis siliquastrum    ARBRE PARC  41.386809  2.194705

[78190 rows x 4 columns]

## mezcla de df.

### seguridad total

In [764]:
#import all csv files.
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")

vial = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\\acc_viales.csv")
mossos = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\mossos_asistencia_ayuda.csv")
urbana = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\guardia_urbana.csv")
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_districts.csv")
# change ronge names to merge.
area.columns = area.columns.str.lower()
area.loc[1, ["district"]] = "L'Eixample"
area.loc[2, ["district"]] = "Sants-Monjuïc"
area.loc[6, ["district"]] = "Horta-Guiardó"
# merge data frames of security and area.
x = area.merge(vial, on= "district", how="left")
x = x.merge(mossos, on="district", how="left")
seguridad = x.merge(urbana, on="district", how="left")
seguridad.drop(columns=["district_id_x", "district_id_y"], inplace=True)
# sum columns and divide it by density
seguridad["seguridad"] = (seguridad["inf_viales"].astype(int) + seguridad["mossos"].astype(int) + seguridad["guardia_urbana"].astype(int)) / seguridad["guardia_urbana"].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
seguridad.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\seguridad_densidad.csv", index=False)

### density.

In [466]:
density = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\densidad_poblacion.csv")
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")
area["Barrio"] = area["Barrio"].str.lower()
density["Barrio"] = density["Barrio"].str.lower()
# replace to clean and match both df in Barrio
area["Barrio"] = area["Barrio"].apply(lambda x: x.strip().replace(",", ""))
density["Barrio"] = density["Barrio"].apply(lambda x: x.strip().replace(",", ""))
x = density.merge(area, on= "Barrio", how="left")

# take decimal from barri_code
try:
    x["barri_id"] = x["barri_id"].astype(str)
except:
    pass
x["barri_id"] = x["barri_id"].apply(lambda x: x.split(".")[0])
x.rename(columns={"Barrio":"barri"},inplace=True)

### ocio

In [784]:
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")

cine = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\cinemas.csv")
mus = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\museums_libraries.csv")
drinks = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\music_drinks.csv")
resta = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\cult_ocio\\restaurants.csv")

In [785]:
def cleaning_equip (df):# clean df of cine
    df['count'] = df.groupby('barri_id')['division'].transform('count')
    df.drop(columns=["name", "district", "category", "address", "division", "sub_category", "latitud", "longitud"], inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [786]:
# funtion throw all dfs
cine = cleaning_equip (cine)
cine.rename(columns={"count":"cines"}, inplace=True)

mus = cleaning_equip (mus)
mus.rename(columns={"count":"museums"}, inplace=True)

drinks = cleaning_equip (drinks)
drinks.rename(columns={"count":"bars"}, inplace=True)

resta = cleaning_equip (resta)
resta.rename(columns={"count":"resta"}, inplace=True)

In [787]:
# merge all df 
x = resta.merge(drinks, on="barri_id", how="left")
y = x.merge(mus, on="barri_id", how="left")
y.drop(columns=["district_id_y", "district_id", "barri", "barri_y"], inplace=True)
total = y.merge(cine, on="barri_id", how="left")
# clean df
total.drop(columns=["district_id", "barri"], inplace=True)
total = total[["barri_x", "barri_id", "district_id_x", "bars", "resta", "museums", "cines"]]
total.rename(columns={"barri_x":"barri", "district_id_x":"district"}, inplace=True)
total["barri"] = total["barri"].str.lower()

In [788]:
# clean area df
area.rename(columns={"barri_code":"barri_id"}, inplace=True)
# merge area with all the total ocio df 
equi = total.merge(area, on= "barri_id", how="left")
# add new total columns and per density
equi["bars"] = equi["bars"].fillna(0)
equi["resta"] = equi["resta"].fillna(0)
equi["museums"] = equi["museums"].fillna(0)
equi["cines"] = equi["cines"].fillna(0)
equi["total_ocio"] = equi["bars"] + equi["resta"] + equi["museums"] + equi["cines"]
equi["ocio_por_area"] = equi["total_ocio"] / equi["Área (km²)"] 
equi.rename(columns={"barri_x":"barri"}, inplace=True)

In [789]:
equi

,barri,barri_id,district,bars,resta,museums,cines,Barrio,Área (km²),total_ocio,ocio_por_area
0,la vila olímpica del poblenou,67,10,7.0,22,8.0,3.0,NaN,NaN,40.0,NaN
1,sant gervasi - la bonanova,25,5,8.0,44,7.0,3.0,la Salut,0.62,62.0,100.000000
2,el raval,1,1,63.0,152,33.0,26.0,la Barceloneta,0.11,274.0,2490.909091
3,l'antiga esquerra de l'eixample,8,2,89.0,296,15.0,4.0,les Corts,6.08,404.0,66.447368
4,sant gervasi - galvany,26,5,39.0,163,9.0,8.0,Sant Andreu,2.58,219.0,84.883721
...,...,...,...,...,...,...,...,...,...,...,...
60,la vall d'hebron,41,7,0.0,2,5.0,0.0,Vallbona,0.27,7.0,25.925926
61,el turó de la peira,46,8,0.0,1,0.0,0.0,Can Baró,0.37,1.0,2.702703
62,el besòs i el maresme,70,10,0.0,3,6.0,1.0,NaN,NaN,10.0,NaN
63,la prosperitat,52,8,0.0,1,0.0,0.0,les Corts,NaN,1.0,NaN
64,can baró,34,7,0.0,1,0.0,0.0,Sants - Badal,1.05,1.0,0.952381

In [790]:
equi.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\cult_ocio\ocio_total.csv", index=False)

### equipamiento

In [893]:
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")

civic = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\centre_civic.csv")
hosp = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\hospitals.csv")
school = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\equipamiento\schools.csv")

In [894]:
def cleaning_public (df):# clean df of cine
    df['count'] = df.groupby('barri_id')['division'].transform('count')
    df.drop(columns=["name", "district", "category", "division", "sub_category", "latitud", "longitud"], inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [895]:
# clean and drop.
civic = cleaning_public (civic)
civic.rename(columns={"count":"civic_centre"}, inplace=True)

hosp = cleaning_equip (hosp)
hosp.rename(columns={"count":"hospitals"}, inplace=True)

school = cleaning_equip (school)
school.rename(columns={"count":"schools"}, inplace=True)

In [896]:
# Merging 
x = school.merge(civic, on="barri_id", how="left")
y = x.merge(hosp, on="barri_id", how="left")
y.drop(columns=["district_id_y", "barri", "barri_y", "total_usos_entitats", "metres_quadrats"], inplace=True)
# clean area df
area.rename(columns={"barri_code":"barri_id"}, inplace=True)
com = y.merge(area, on="barri_id", how="left")
# clean total df
com.drop(columns=["Barrio", "district_id"], inplace=True)
com.rename(columns={"barri_x":"barri", "district_id_x":"district_id"}, inplace=True)
com["barri"] = com["barri"].str.lower()
# add new total columns and per density
com["schools"] = com["schools"].fillna(0)
com["civic_centre"] = com["civic_centre"].fillna(0)
com["hospitals"] = com["hospitals"].fillna(0)
com["total_equip"] = com["schools"] + com["civic_centre"] + com["hospitals"] 
com["equip_por_area"] = com["total_equip"] / com["Área (km²)"] 
com.drop_duplicates(inplace=True)

In [813]:
com.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\equipamiento\equipamiento_total.csv", index=False)

### mobilidad

In [623]:
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")

puerto = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bicipuertos.csv")
bus = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\\bus_stops.csv")
metro = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\mobilidad\metro_train.csv")

In [624]:
def cleaning_bici (df):# clean df of cine
    df['count'] = df.groupby('barri_id')['division'].transform('count')
    df.drop(columns=["address","district", "category", "division", "sub_category", "latitud", "longitud"], inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [625]:
# clean and drop.
puerto = cleaning_bici (puerto)
puerto.rename(columns={"count":"bici_puerto"}, inplace=True)

bus = cleaning_public (bus)
bus.rename(columns={"count":"bus"}, inplace=True)

metro = cleaning_public (metro)
metro.rename(columns={"count":"metro"}, inplace=True)

In [626]:
# Merging 
x = bus.merge(puerto, on="barri_id", how="left")
y = x.merge(metro, on="barri_id", how="left")
y.drop(columns=["district_id_y", "barri", "barri_y", "district_id"], inplace=True)
# clean area df
area.rename(columns={"barri_code":"barri_id"}, inplace=True)
mob = y.merge(area, on="barri_id", how="left")
# clean total df
mob.drop(columns=["Barrio"], inplace=True)
mob.rename(columns={"barri_x":"barri", "district_id_x":"district_id"}, inplace=True)
mob["barri"] = mob["barri"].str.lower()
# add new total columns and per density
mob["metro"] = mob["metro"].fillna(0)
mob["bus"] = mob["bus"].fillna(0)
mob["bici_puerto"] = mob["bici_puerto"].fillna(0)
mob["total_mobili"] = mob["metro"] + mob["bus"] + mob["bici_puerto"]
mob["mobilidad_por_area"] = mob["total_mobili"] / mob["Área (km²)"] 
mob.drop_duplicates(inplace=True)

In [721]:
mob.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\mobilidad\mobilidad_total.csv", index=False)

### ecology.

In [731]:
arbolado.barri.value_counts().sum()

73

In [1049]:
air

              district  area_(km²)      total  total_km
0         Ciutat Vella        4.49  31.707737  7.061857
1           L'Eixample        7.46  27.859956  3.734579
2               Gràcia        4.19  24.086562  5.748583
3        Horta-Guiardó       11.92  18.287258  1.534166
4            Les Corts        6.08  16.426833  2.701782
5           Sant Martí       10.80  25.660200  2.375944
6        Sants-Monjuïc       21.35  21.267604  0.996141
7  Sarrià-Sant Gervasi       20.09  22.731270  1.131472

In [1050]:
area = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv\\area_barrio.csv")
com = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\equipamiento\equipamiento_total.csv")
arbolado = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\arbolado_sum.csv")
sorol = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\soroll_max.csv")
air = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\air_total.csv")
urbana = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\guardia_urbana.csv")

In [1051]:
# rename columns
air.rename(columns={"total":"air_quality", "total_km":"air/area"}, inplace=True)
sorol.rename(columns={"max_valor":"max_sound"}, inplace=True)
arbolado.rename(columns={"taxon_name_count":"total_trees"}, inplace=True)

In [1052]:
# merge urbana to get the district id.
air= air.merge(urbana, on="district", how="left")
air.drop(columns=["guardia_urbana"], inplace=True)

In [1053]:
# make barri id column in soroll 
sorol["barri_id"] = range(1, 1+len(sorol))
    # importar el archivo csv este value esta mas arriba
com = com[["district_id", "barri_id"]]
sorol = sorol.merge(com, on="barri_id", how="left")
sorol["barri"] = sorol["barri"].apply(lambda x: x.lower())
total = sorol.merge(arbolado, on= "barri", how="left")
total.rename(columns={"district_id_y":"district_id"})
# merge all 3 df. 
total = sorol.merge(arbolado, on= "barri", how="left")
total = total.merge(air, on="district_id", how= "left")

In [1055]:
total.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\compete_barris_id.csv", index=False)

In [955]:
total["trees_area"] = total["total_trees"] / total["area_(km²)"]

In [957]:

eco = total[["barri", "barri_id", "district", "district_id", "area_(km²)", "sound", "max_sound", "total_trees", "trees_area", "air_quality", "air/area"]]

In [958]:
eco.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\ecologic.csv", index=False)

In [729]:
filter_air = eco[["barri", "district", "air_quality", "air/area"]]
filter_air.dropna(inplace=True)

C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\691379554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_air.dropna(inplace=True)

In [730]:
filter_air.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\\air_total_barrios.csv", index=False)

In [1015]:
seguridad = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\social\seguridad_densidad.csv")

ocio = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\cult_ocio\ocio_total.csv")
equipo = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\equipamiento\equipamiento_total.csv")
mobi = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\mobilidad\mobilidad_total.csv")
eco = pd.read_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\\arbolado\ecologic.csv")

In [1016]:
mobi.rename(columns={"barri":"barrio", "district":"distrito"}, inplace=True)
x = mobi.merge(seguridad, on="district_id", how="left")
y = x.merge(equipo, on="barri_id", how="left")
y.rename(columns={"district_id_x	":"distrito_id", "district":"distrito"}, inplace=True)

In [1019]:
total.columns

Index(['district_id_x', 'barri_id', 'barrio', 'bus', 'bici_puerto', 'metro',
       'Área (km²)_x', 'total_mobili', 'mobilidad_por_area', 'distrito',
       'area_(km²)_x', 'inf_viales', 'mossos', 'guardia_urbana', 'seguridad',
       'barri_x', 'district_id_y', 'schools', 'civic_centre', 'hospitals',
       'Área (km²)_y', 'total_equip', 'equip_por_area', 'barri_y',
       'district_x', 'bars', 'resta', 'museums', 'cines', 'Barrio',
       'Área (km²)', 'total_ocio', 'ocio_por_area', 'barri', 'district_y',
       'district_id', 'area_(km²)_y', 'sound', 'max_sound', 'total_trees',
       'trees_area', 'air_quality', 'air/area'],
      dtype='object')

In [1018]:


z = y.merge(ocio, on="barri_id", how="left")
total = z.merge(eco, on="barri_id", how="left")

In [1021]:
total = total[["barrio", "barri_id", "distrito", "district_id", "Área (km²)", "mobilidad_por_area", "seguridad", "ocio_por_area", "air/area", "trees_area", "max_sound", "equip_por_area"]]

In [1022]:
total["mobilidad"] = total["mobilidad_por_area"].fillna(1) * 0.18
total["seguridad"] = total["seguridad"].fillna(1) * 0.16
total["ocio"] = total["ocio_por_area"].fillna(1) * 0.07
total["air_contam"] = total["air/area"].fillna(1) * 0.16
total["trees"] = total["trees_area"].fillna(1) * 0.18
total["max_sound"] = total["max_sound"].fillna(1) * 0.14
total["equipamiento"] = total["equip_por_area"].fillna(1) * 0.11

C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["mobilidad"] = total["mobilidad_por_area"].fillna(1) * 0.18
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["seguridad"] = total["seguridad"].fillna(1) * 0.16
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["ocio"] = total["ocio_por_area"].fillna(1) * 0.07
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["air_contam"] = total["air/area"].fillna(1) * 0.16
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["trees"] = total["trees_area"].fillna(1) * 0.18
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["max_sound"] = total["max_sound"].fillna(1) * 0.14
C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\2799323956.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["equipamiento"] = total["equip_por_area"].fillna(1) * 0.11

In [1023]:
total.drop(columns=["mobilidad_por_area", "ocio_por_area", "air/area", "trees_area", "equip_por_area"], inplace=True)

C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\3455191756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total.drop(columns=["mobilidad_por_area", "ocio_por_area", "air/area", "trees_area", "equip_por_area"], inplace=True)

In [1024]:
total["healthy"] = (total["mobilidad"] - total["seguridad"] + total["ocio"] - total["air_contam"] + total["trees"] - total["max_sound"] + total["equipamiento"])

C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\4292323566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total["healthy"] = (total["mobilidad"] - total["seguridad"] + total["ocio"] - total["air_contam"] + total["trees"] - total["max_sound"] + total["equipamiento"])

In [1025]:
total.rename(columns={"barri_x":"barri", "mobilidad_por_area":"mobilidad", "ocio_por_area":"ocio", "air/area":"air_contam", "total_trees":"trees", "equip_por_area":"equipamiento"}, inplace=True)

C:\Users\ima_n\AppData\Local\Temp\ipykernel_6696\3238814402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total.rename(columns={"barri_x":"barri", "mobilidad_por_area":"mobilidad", "ocio_por_area":"ocio", "air/area":"air_contam", "total_trees":"trees", "equip_por_area":"equipamiento"}, inplace=True)

In [1026]:
total.healthy.min()

-5.510337822360584

In [1028]:
total.distrito.value_counts()

Nou Barris             13
Horta-Guiardó          11
Sant Martí             10
Sants-Monjuïc           8
Sant Andreu             7
L'Eixample              6
Sarrià-Sant Gervasi     6
Gràcia                  5
Ciutat Vella            4
Les Corts               3
Name: distrito, dtype: int64

In [1027]:
total

,barrio,barri_id,distrito,district_id,Área (km²),seguridad,max_sound,mobilidad,ocio,air_contam,trees,equipamiento,healthy
0,pedralbes,21,Les Corts,4,1.79,0.540344,3.6666,11.865922,1.016760,0.432285,1305.592105,4.301676,1318.137234
1,sant genís dels agudells,39,Horta-Guiardó,7,NaN,0.483773,3.4664,6.545455,0.070000,0.245467,54.362416,0.800000,57.582231
2,l'antiga esquerra de l'eixample,8,L'Eixample,2,6.08,0.433555,4.9756,7.756579,4.651316,0.597533,0.180000,1.103618,7.684826
3,"vallvidrera, el tibidabo i les planes",22,Sarrià-Sant Gervasi,5,1.05,0.537816,3.3768,19.371429,0.866667,0.181035,3.951220,1.466667,21.560330
4,can baró,34,Horta-Guiardó,7,1.05,0.483773,3.0618,3.600000,0.066667,0.245467,42.417785,0.419048,42.712459
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,baró de viver,58,Sant Andreu,9,NaN,0.484496,4.0306,0.180000,0.070000,0.160000,0.180000,0.110000,-4.135096
69,sant martí de provençals,72,Sant Martí,10,NaN,0.436573,3.0394,0.180000,0.070000,0.380151,101.400000,0.110000,97.903876
70,el congrés i els indians,62,Sant Andreu,9,NaN,0.484496,3.0674,0.180000,0.070000,0.160000,0.180000,0.110000,-3.171896
71,la clota,42,Horta-Guiardó,7,NaN,0.483773,4.0558,0.737705,0.070000,0.245467,2.959732,0.090164,-0.927440
72,can peguera,47,Nou Barris,8,NaN,0.465321,6.0942,0.734694,0.070000,0.160000,0.180000,0.224490,-5.510338

In [1045]:
total.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\healthy_barrio.csv", index=False)

In [1040]:
distrito = total[["distrito", "healthy"]].groupby(by="distrito").agg("mean")

In [1046]:
distrito.to_csv("D:\ironhack\proyectos\Barcelona_UrbanAnalysis\csv_from_python\healthy_distrito.csv", index=False)

In [1042]:
distrito.reset_index()

              distrito     healthy
0         Ciutat Vella  480.793751
1               Gràcia  170.762840
2        Horta-Guiardó   98.220470
3           L'Eixample  107.465978
4            Les Corts  644.031867
5           Nou Barris    1.649172
6          Sant Andreu   -3.534896
7           Sant Martí   69.317569
8        Sants-Monjuïc  177.223566
9  Sarrià-Sant Gervasi  135.649440